script(src="/socket.io/socket.io.js")
script(src="https://code.highcharts.com/highcharts.js")
script.
  console.log('server ip is ' + '#{ip}');
  var sock = io.connect('#{ip}' + ':4000');
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      table {
      border-collapse: collapse;
      border-spacing: 1;
      border: 1px solid #ddd;
      }
      th, td {
      text-align: left;
      padding: 4px;
      border: 1px solid #ddd;
      }
      tr:nth-child(even) {
      background-color: #f2f2f2;
      }
  body
    h1=message
    div.send
      input(type='text')#command
      button(onclick='sendFct()') Send
      script.
        var sendFct = function(){
          var cmd = document.getElementById('command');
          console.log('CMD = ' + cmd.value)
          sock.emit('command', cmd.value + '\r\n');
        }
    div.log
      textarea(rows="20" cols="100")#text
      script.
        sock.on('data', function(message){
          var textarea = document.getElementById('text');
          textarea.append(message);
          textarea.scrollTop = textarea.scrollHeight;
        })