html
    head
    body
        h1 Somfy RTS configuration
        button#readTable Read table
        br
        textarea#rawLogs(cols="100", rows="15")


script(src="/socket.io/socket.io.js")
script(src="./somfy-rts-app.js")
